<body>

  <div *ngIf="!message; else elseBlock">
    <h2>This page provides live info on floods in the UK.</h2>
    <br>
      <table>
          <tr>
              <th><u>Description</u></th>
              <th><u>More Info?</u></th>
          </tr>

          <br>
     
          <tr *ngFor="let floodItem of floodItems">
            <th>{{ floodItem.description }}</th>
            <th><button (click)="selectFlood(floodItem)">See More Info</button></th>
          </tr>

      </table>
  </div>

  <ng-template #elseBlock>
    <b><u>MESSAGE</u></b>
    <br><br>
    {{ message }}
    <br><br>
    <b><u>LAT</u></b>
    <br><br>
    {{ lat }}
    <br><br>
    <b><u>LONG</u></b>
    <br><br>
    {{ long }}
    <br><br>
    <button (click)="goBack()">Go Back To Main Page</button>
  </ng-template>

</body>